extends ../layout/index.pug

block contenido 
    .py-5
        h1.my-10.text-center.text-4xl.font-black.text-indigo-500 Bienes
            span.font-normal.text-neutral-900 Raices 
        h2.text-center.text-2xl.font-extrabold #{pagina}
        p.text-xl.text-center.my-10.mx-auto.max-w-md.font-bold.py-2.text-green-600.bg-green-200.border.border-green-600 ✔#{mensaje}
        img.block.w-24.h-24.m-auto.animate-bounce(src="/img/email_send.svg", alt="email_send")